<section class="station__box" *ngFor="let item of bikeList; let i of index" (click)="showDetails(i)">
  <mat-card>
    <div class="station__box-header">
      <h3>{{item.properties.label}}</h3>
    </div>
    <div class="station__box-content">
      <ul class="list">
        <li class="list__item">
          <span class="fas fa-bicycle"></span>
          <span class="list__desc">Available bikes</span>
          <p class="list__bikes">{{item.properties.bikes}}</p>
        </li>
        <li class="list__item">
          <span class="fas fa-unlock"></span>
          <span class="list__desc">Available places</span>
          <p class="list__places">{{item.properties.free_racks}}</p>
        </li>
      </ul>
    </div>
  </mat-card>
</section>
